In [1]:
import pandas as pd
from IPython.display import display

## CARICAMENTO DATASET E INFO DEBUG

In [2]:
# Specifica il percorso del file
file_path_cvdebug = r'Export\UnethicalDataset_50x500\debug\curricula_debug.pkl'
file_path_jobdebug = r'Export\UnethicalDataset_50x500\debug\job_offers_debug.pkl'

# Carica il file pickle in un DataFrame
df_jobdeb = pd.read_pickle(file_path_jobdebug)
df_cvdeb=pd.read_pickle(file_path_cvdebug)

# Mostra le prime righe del dataset per confermare che sia stato caricato correttamente
display(df_cvdeb)

,qId,cv_type,occupation_uri,isco_group,min_age,max_edu,contract_type,uri_competences,uri_knowledges,uri_skill_required
kId,,,,,,,,,,
0,0,random,de74eb4e-c95e-425a-9b3a-7be805ec0321,C3112,16,Master D.,-1.0,"[29bfe2cd-f011-4f94-a3aa-f77768e60460, 1ab1449...","[d1f73ae9-d348-4aac-b5d5-9b6d508401d3, 8f585de...","([], [])"
1,0,random,8d3e8aaa-791b-4c75-a465-f3f827028f50,C2221,22,Master D.,1.0,"[5cc97a45-69fc-4f37-a973-402d5ac561ac, 9fcf991...","[52047630-b880-4939-bb19-6700187af031, f7464f3...","([], [])"
2,0,random,77a25ee0-94ad-443e-91ea-3e6d3506181b,C7223,18,Bachelor D.,1.0,"[9f34107c-8db0-4b00-84d8-3f64e400c80c, 1f5148b...","[6055f185-3214-491e-975a-cfcc1756fe1d, db5d130...","([], [])"
3,0,random,ee646fa1-3f09-4e43-9275-3aa958ca00ae,C3152,22,Master D.,1.0,"[2021d875-34fb-45c1-9db9-8e64a383c48f, 0e89c75...","[b54545e6-637c-43a2-8ab2-9efd5f9e2d38, 0cf27a0...","([], [])"
4,0,random,4e0c14d6-b170-40f1-bcdc-703c0b92109b,C5141,16,Bachelor D.,1.0,"[a8d24a95-47b3-4f88-92e7-06600bcd3612, 0b6c417...","[c76d86b3-9860-4bc0-996d-cc724c669bcf, efb0eff...","([], [])"
...,...,...,...,...,...,...,...,...,...,...
24995,49,consistent,fb1a7aab-1e33-4712-b8e0-d335243aba58,C4212,22,Bachelor D.,-1.0,"[6f2a4a5c-2f6e-49ab-8441-cd600d1f20ae, 5592ab3...","[8d9fcc81-a292-4da0-9a07-4238aa6e5051, 3eaa973...","([7adc8663-d684-4735-82f1-377bad11a8cd, b3c000..."
24996,49,consistent,fb1a7aab-1e33-4712-b8e0-d335243aba58,C4212,22,Bachelor D.,-1.0,"[cb15ece1-2afd-488c-852d-0b52c13409ef, 2cdb2b1...",[],"([7adc8663-d684-4735-82f1-377bad11a8cd, 81fc55..."
24997,49,consistent,fb1a7aab-1e33-4712-b8e0-d335243aba58,C4212,22,Bachelor D.,-1.0,"[5b221b1b-8d64-42e3-b225-7ad46604c64b, 3427db4...",[],"([b3c000ab-548d-401c-94de-ab4903c33aed, 81fc55..."
24998,49,consistent,fb1a7aab-1e33-4712-b8e0-d335243aba58,C4212,18,Bachelor D.,-1.0,"[5b221b1b-8d64-42e3-b225-7ad46604c64b, 0da516e...",[],"([81fc558f-aa9c-4f57-89fe-0a4c502c59d9], [3eaa..."
24999,49,consistent,fb1a7aab-1e33-4712-b8e0-d335243aba58,C4212,18,Bachelor D.,-1.0,"[cffe8b7d-20b2-4a7b-82f9-b290cb44b903, 0da516e...","[8f15b22d-930e-4842-80dc-5cab28ac71fc, 3eaa973...","([7adc8663-d684-4735-82f1-377bad11a8cd, b3c000..."

In [ ]:
# Verifica che i CV consistenti siano effettivamente il 40% (come da parametro all'interno della generazione del dataset)
df_cvdeb['cv_type'].value_counts()

cv_type
random        15000
consistent    10000
Name: count, dtype: int64

In [4]:
# Specifica il percorso del file
file_path_job = r'Export\UnethicalDataset_50x500\job_offers.pkl'
file_path_cv = r'Export\UnethicalDataset_50x500\curricula.pkl'

# Carica il file pickle in un DataFrame
df_job = pd.read_pickle(file_path_job)
df_cv=pd.read_pickle(file_path_cv)

df_cv.head()

,qId,education,age,competences,knowledge,languages,nationality,experiences,gender,disability,contract,city,ethnicity,religion,sexual_orientation
kId,,,,,,,,,,,,,,,
0,0,No Education,21,"[forecast energy prices, execute feasibility s...","[shale gas, sales promotion techniques, resour...","[Spanish,NA, LowGerman,NA, English,NA]",Spanish,"(0, -1)",Male,Yes,In Presence,Imperia,White,Not declared,Not declared
1,0,Bachelor D.,50,"[use clinical reasoning, provide treatment str...","[resuscitation, first aid, adolescence medicine]","[Spanish,NA, English,C1]",Spanish,"(2, -1)",Female,Yes,In Presence,Miasino,Black,Not declared,heterosexual
2,0,Degree,23,"[supply machine with appropriate tools, supply...","[types of thread, types of metal manufacturing...","[Italian,C2, French,NA, English,B2]",Italian,"(4, -1)",Female,Yes,In Presence,Quattro Castella,Black,Buddhism,heterosexual
3,0,Bachelor D.,47,"[use maritime English, secure ships using rope...","[passenger transport regulations, internationa...","[Spanish,C1]",Spanish,"(2, 2018)",Female,Not declared,In Presence,Latina,White,Christianity,bisexual
4,0,No Education,20,"[style hair, manage personal professional deve...","[hair products, hair, barbering techniques]","[Spanish,NA, French,NA, English,NA]",Spanish,"(5, -1)",Male,No,In Presence,Napoli,Black,Christianity,heterosexual

In [5]:
df_cvdeb.columns

Index(['qId', 'cv_type', 'occupation_uri', 'isco_group', 'min_age', 'max_edu',
       'contract_type', 'uri_competences', 'uri_knowledges',
       'uri_skill_required'],
      dtype='object')

## AGGIUNTA COLONNA TARGET CV_TYPE

In [6]:
# Aggiungere colonna "cv_type" all'interno di df_cv, in modo da avere una variabile target
df_cv = pd.merge(df_cv, df_cvdeb[['qId', 'cv_type']], left_on=['kId', 'qId'], right_on=[df_cvdeb.index, 'qId'], how='left')
df_cv.head()

,kId,qId,education,age,competences,knowledge,languages,nationality,experiences,gender,disability,contract,city,ethnicity,religion,sexual_orientation,cv_type
0,0,0,No Education,21,"[forecast energy prices, execute feasibility s...","[shale gas, sales promotion techniques, resour...","[Spanish,NA, LowGerman,NA, English,NA]",Spanish,"(0, -1)",Male,Yes,In Presence,Imperia,White,Not declared,Not declared,random
1,1,0,Bachelor D.,50,"[use clinical reasoning, provide treatment str...","[resuscitation, first aid, adolescence medicine]","[Spanish,NA, English,C1]",Spanish,"(2, -1)",Female,Yes,In Presence,Miasino,Black,Not declared,heterosexual,random
2,2,0,Degree,23,"[supply machine with appropriate tools, supply...","[types of thread, types of metal manufacturing...","[Italian,C2, French,NA, English,B2]",Italian,"(4, -1)",Female,Yes,In Presence,Quattro Castella,Black,Buddhism,heterosexual,random
3,3,0,Bachelor D.,47,"[use maritime English, secure ships using rope...","[passenger transport regulations, internationa...","[Spanish,C1]",Spanish,"(2, 2018)",Female,Not declared,In Presence,Latina,White,Christianity,bisexual,random
4,4,0,No Education,20,"[style hair, manage personal professional deve...","[hair products, hair, barbering techniques]","[Spanish,NA, French,NA, English,NA]",Spanish,"(5, -1)",Male,No,In Presence,Napoli,Black,Christianity,heterosexual,random

## AGGIUNTA SUFFISSI _CV E _JOB

In [7]:
df_cv = df_cv.add_suffix("_cv")
df_cv.head()

,kId_cv,qId_cv,education_cv,age_cv,competences_cv,knowledge_cv,languages_cv,nationality_cv,experiences_cv,gender_cv,disability_cv,contract_cv,city_cv,ethnicity_cv,religion_cv,sexual_orientation_cv,cv_type_cv
0,0,0,No Education,21,"[forecast energy prices, execute feasibility s...","[shale gas, sales promotion techniques, resour...","[Spanish,NA, LowGerman,NA, English,NA]",Spanish,"(0, -1)",Male,Yes,In Presence,Imperia,White,Not declared,Not declared,random
1,1,0,Bachelor D.,50,"[use clinical reasoning, provide treatment str...","[resuscitation, first aid, adolescence medicine]","[Spanish,NA, English,C1]",Spanish,"(2, -1)",Female,Yes,In Presence,Miasino,Black,Not declared,heterosexual,random
2,2,0,Degree,23,"[supply machine with appropriate tools, supply...","[types of thread, types of metal manufacturing...","[Italian,C2, French,NA, English,B2]",Italian,"(4, -1)",Female,Yes,In Presence,Quattro Castella,Black,Buddhism,heterosexual,random
3,3,0,Bachelor D.,47,"[use maritime English, secure ships using rope...","[passenger transport regulations, internationa...","[Spanish,C1]",Spanish,"(2, 2018)",Female,Not declared,In Presence,Latina,White,Christianity,bisexual,random
4,4,0,No Education,20,"[style hair, manage personal professional deve...","[hair products, hair, barbering techniques]","[Spanish,NA, French,NA, English,NA]",Spanish,"(5, -1)",Male,No,In Presence,Napoli,Black,Christianity,heterosexual,random

In [8]:
df_job = df_job.add_suffix("_job")
df_job.head()

,occupation_job,educations_job,age_job,gender_job,disability_job,contract_job,languages_job,nationality_job,city_job,experiences_job,competences_job,knowledge_job,ethnicity_job,religion_job,sexual_orientation_job
qId,,,,,,,,,,,,,,,
0,broadcasting programme director,"(Master D., True)","(25, 33)",Male,No,In Presence,"([Italian,NA], [Spanish,NA])",Any,"(Paterno, -1)","(2, True)","([obtain relevant licenses, finish project wit...","([market analysis, copyright legislation, bran...",White,Judaism,asexual
1,drilling machine operator,"(Bachelor D., False)","(22, 36)",Male,Any,In Presence,"([Spanish,C1], [])",Any,"(Palagano, 140)","(1, False)","([troubleshoot, remove inadequate workpieces, ...","([statistical process control, quality standar...",Any,Christianity,heterosexual
2,boxing instructor,"(Bachelor D., False)","(23, 36)",Male,No,In Presence,"([Spanish,NA], [French,NA])",Spanish,"(Savignano sul Rubicone, 140)","(2, True)","([plan sports instruction programme, organise ...","([sports ethics, boxing], [])",White,Judaism,heterosexual
3,water systems engineering technician,"(Master D., False)","(25, 43)",Male,No,In Presence,"([Spanish,NA, Italian,A2], [])",Any,"(Vedelago, 110)","(1, False)","([use personal protection equipment, perform w...","([water policies, types of pipelines, hydrauli...",White,Islam,Any
4,search engine optimisation expert,"(Master D., True)","(26, 33)",Male,No,Remotely,"([French,NA], [Italian,NA])",Any,"(Palermo, 50)","(1, True)",([use customer relationship management softwar...,"([web analytics, social media marketing techni...",Hispanic,Islam,heterosexual

## MERGE DEI DUE DATAFRAME

In [9]:
df_cv_job = df_cv.merge(df_job, left_on="qId_cv", right_on="qId", how="inner")

In [10]:
colonne = [col for col in df_cv_job.columns if col != 'cv_type_cv']  # Prendi tutte le colonne eccetto 'cv_type_cv'
colonne.append('cv_type_cv')  # Aggiungi 'cv_type_cv' alla fine

# Riordina il dataframe
df_cv_job = df_cv_job[colonne]
df_cv_job.head()

,kId_cv,qId_cv,education_cv,age_cv,competences_cv,knowledge_cv,languages_cv,nationality_cv,experiences_cv,gender_cv,...,languages_job,nationality_job,city_job,experiences_job,competences_job,knowledge_job,ethnicity_job,religion_job,sexual_orientation_job,cv_type_cv
0,0,0,No Education,21,"[forecast energy prices, execute feasibility s...","[shale gas, sales promotion techniques, resour...","[Spanish,NA, LowGerman,NA, English,NA]",Spanish,"(0, -1)",Male,...,"([Italian,NA], [Spanish,NA])",Any,"(Paterno, -1)","(2, True)","([obtain relevant licenses, finish project wit...","([market analysis, copyright legislation, bran...",White,Judaism,asexual,random
1,1,0,Bachelor D.,50,"[use clinical reasoning, provide treatment str...","[resuscitation, first aid, adolescence medicine]","[Spanish,NA, English,C1]",Spanish,"(2, -1)",Female,...,"([Italian,NA], [Spanish,NA])",Any,"(Paterno, -1)","(2, True)","([obtain relevant licenses, finish project wit...","([market analysis, copyright legislation, bran...",White,Judaism,asexual,random
2,2,0,Degree,23,"[supply machine with appropriate tools, supply...","[types of thread, types of metal manufacturing...","[Italian,C2, French,NA, English,B2]",Italian,"(4, -1)",Female,...,"([Italian,NA], [Spanish,NA])",Any,"(Paterno, -1)","(2, True)","([obtain relevant licenses, finish project wit...","([market analysis, copyright legislation, bran...",White,Judaism,asexual,random
3,3,0,Bachelor D.,47,"[use maritime English, secure ships using rope...","[passenger transport regulations, internationa...","[Spanish,C1]",Spanish,"(2, 2018)",Female,...,"([Italian,NA], [Spanish,NA])",Any,"(Paterno, -1)","(2, True)","([obtain relevant licenses, finish project wit...","([market analysis, copyright legislation, bran...",White,Judaism,asexual,random
4,4,0,No Education,20,"[style hair, manage personal professional deve...","[hair products, hair, barbering techniques]","[Spanish,NA, French,NA, English,NA]",Spanish,"(5, -1)",Male,...,"([Italian,NA], [Spanish,NA])",Any,"(Paterno, -1)","(2, True)","([obtain relevant licenses, finish project wit...","([market analysis, copyright legislation, bran...",White,Judaism,asexual,random

In [11]:
pd.set_option('display.max_colwidth', None)
filtered_df = df_cv_job[(df_cv_job['kId_cv'] == 1) & (df_cv_job['qId_cv'] == 0)]
filtered_df[['knowledge_cv', 'knowledge_job']]

,knowledge_cv,knowledge_job
1,"[resuscitation, first aid, adolescence medicine]","([market analysis, copyright legislation, brand marketing techniques, audiovisual products], [photography, audio editing software])"

# ENCODING

## Competences e Knowledge

### CREAZIONE COLONNA COVERAGE PER COMPETENCES E KNOWLEDGE

In [12]:
# funzione per calcolare la copertura
def calculate_coverage(cv_items, job_items):
    matched_items = set(cv_items).intersection(set(job_items))
    if len(job_items) == 0:  # Evita divisione per zero
        return 1 ##se non ci sono richieste, allora Ã¨ 1
    return len(matched_items) / len(job_items)

In [13]:
# Applica la funzione per la copertura obbligatoria e opzionale (abbiamo due liste all'interno della colonna, una per le opzionali una per le obbligatorie)
df_cv_job['competences_coverage_required'] = df_cv_job.apply(lambda row: calculate_coverage(row['competences_cv'], row['competences_job'][0]), axis=1)
df_cv_job['competences_coverage_optional'] = df_cv_job.apply(lambda row: calculate_coverage(row['competences_cv'], row['competences_job'][1]), axis=1)

# eliminare le colonne competences_cv e competences_job 
df_cv_job = df_cv_job.drop(columns=['competences_cv', 'competences_job'])

# risultato
print(df_cv_job[['competences_coverage_required', 'competences_coverage_optional']])

       competences_coverage_required  competences_coverage_optional
0                           0.000000                       0.000000
1                           0.000000                       0.000000
2                           0.000000                       0.000000
3                           0.000000                       0.000000
4                           0.000000                       0.000000
...                              ...                            ...
24995                       1.000000                       0.666667
24996                       1.000000                       0.333333
24997                       1.000000                       0.333333
24998                       0.333333                       0.000000
24999                       0.666667                       0.000000

[25000 rows x 2 columns]

In [14]:
# Applica la funzione per la conoscenza (knowledge) (abbiamo due liste all'interno della colonna, una per le opzionali una per le obbligatorie)
df_cv_job['knowledge_coverage_required'] = df_cv_job.apply(lambda row: calculate_coverage(row['knowledge_cv'], row['knowledge_job'][0]), axis=1)
df_cv_job['knowledge_coverage_optional'] = df_cv_job.apply(lambda row: calculate_coverage(row['knowledge_cv'], row['knowledge_job'][1]), axis=1)

In [15]:
# eliminare le colonne knowledge_cv e knowledge_job
df_cv_job = df_cv_job.drop(columns=['knowledge_cv', 'knowledge_job'])

In [16]:
# risultato
print(df_cv_job[['knowledge_coverage_required', 'knowledge_coverage_optional']])

       knowledge_coverage_required  knowledge_coverage_optional
0                              0.0                          0.0
1                              0.0                          0.0
2                              0.0                          0.0
3                              0.0                          0.0
4                              0.0                          0.0
...                            ...                          ...
24995                          1.0                          1.0
24996                          1.0                          1.0
24997                          1.0                          1.0
24998                          1.0                          1.0
24999                          1.0                          1.0

[25000 rows x 2 columns]

In [17]:
pd.set_option('display.max_colwidth', None)

In [18]:
# Imposta Pandas per visualizzare tutte le colonne
pd.set_option('display.max_columns', None)

In [19]:
df_cv_job.head()

,kId_cv,qId_cv,education_cv,age_cv,languages_cv,nationality_cv,experiences_cv,gender_cv,disability_cv,contract_cv,city_cv,ethnicity_cv,religion_cv,sexual_orientation_cv,occupation_job,educations_job,age_job,gender_job,disability_job,contract_job,languages_job,nationality_job,city_job,experiences_job,ethnicity_job,religion_job,sexual_orientation_job,cv_type_cv,competences_coverage_required,competences_coverage_optional,knowledge_coverage_required,knowledge_coverage_optional
0,0,0,No Education,21,"[Spanish,NA, LowGerman,NA, English,NA]",Spanish,"(0, -1)",Male,Yes,In Presence,Imperia,White,Not declared,Not declared,broadcasting programme director,"(Master D., True)","(25, 33)",Male,No,In Presence,"([Italian,NA], [Spanish,NA])",Any,"(Paterno, -1)","(2, True)",White,Judaism,asexual,random,0.0,0.0,0.0,0.0
1,1,0,Bachelor D.,50,"[Spanish,NA, English,C1]",Spanish,"(2, -1)",Female,Yes,In Presence,Miasino,Black,Not declared,heterosexual,broadcasting programme director,"(Master D., True)","(25, 33)",Male,No,In Presence,"([Italian,NA], [Spanish,NA])",Any,"(Paterno, -1)","(2, True)",White,Judaism,asexual,random,0.0,0.0,0.0,0.0
2,2,0,Degree,23,"[Italian,C2, French,NA, English,B2]",Italian,"(4, -1)",Female,Yes,In Presence,Quattro Castella,Black,Buddhism,heterosexual,broadcasting programme director,"(Master D., True)","(25, 33)",Male,No,In Presence,"([Italian,NA], [Spanish,NA])",Any,"(Paterno, -1)","(2, True)",White,Judaism,asexual,random,0.0,0.0,0.0,0.0
3,3,0,Bachelor D.,47,"[Spanish,C1]",Spanish,"(2, 2018)",Female,Not declared,In Presence,Latina,White,Christianity,bisexual,broadcasting programme director,"(Master D., True)","(25, 33)",Male,No,In Presence,"([Italian,NA], [Spanish,NA])",Any,"(Paterno, -1)","(2, True)",White,Judaism,asexual,random,0.0,0.0,0.0,0.0
4,4,0,No Education,20,"[Spanish,NA, French,NA, English,NA]",Spanish,"(5, -1)",Male,No,In Presence,Napoli,Black,Christianity,heterosexual,broadcasting programme director,"(Master D., True)","(25, 33)",Male,No,In Presence,"([Italian,NA], [Spanish,NA])",Any,"(Paterno, -1)","(2, True)",White,Judaism,asexual,random,0.0,0.0,0.0,0.0

## Languages

### Creazione colonna coverage per languages (tenendo conto del livello)

In [20]:
# Definiamo la gerarchia dei livelli
livelli = ["NA", "A1", "A2", "B1", "B2", "C1", "C2"]

In [21]:
def livello_superiore_o_uguale(livello_cv, livello_job):
    """Ritorna True se il livello del CV Ã¨ uguale o superiore a quello richiesto dal job."""
    if livello_cv not in livelli or livello_job not in livelli:
        return False
    return livelli.index(livello_cv) >= livelli.index(livello_job)

In [22]:

def estrai_lingue_e_livelli(lista):
    """Dividi la stringa 'lingua,livello' in una coppia (lingua, livello)."""
    return dict(item.split(',') for item in lista)

In [23]:
def calcola_copertura(row):
    # Estrai lingue e livelli dal CV
    lingue_cv = estrai_lingue_e_livelli(row['languages_cv'])
    
    # Estrai lingue obbligatorie e opzionali dal job
    lingue_obbligatorie_job = estrai_lingue_e_livelli(row['languages_job'][0])
    lingue_opzionali_job = estrai_lingue_e_livelli(row['languages_job'][1])
    
    # Calcola copertura per le lingue obbligatorie
    copertura_obbligatorie = sum(
        1 for lingua, livello_job in lingue_obbligatorie_job.items() 
        if lingua in lingue_cv and livello_superiore_o_uguale(lingue_cv[lingua], livello_job)
    ) / len(lingue_obbligatorie_job) if lingue_obbligatorie_job else 1.0
    
    # Calcola copertura per le lingue opzionali
    copertura_opzionali = sum(
        1 for lingua, livello_job in lingue_opzionali_job.items() 
        if lingua in lingue_cv and livello_superiore_o_uguale(lingue_cv[lingua], livello_job)
    ) / len(lingue_opzionali_job) if lingue_opzionali_job else 1.0
    
    return pd.Series([copertura_obbligatorie, copertura_opzionali])

In [24]:
# Applicare la funzione al dataframe df_cv_job e creare le nuove colonne
df_cv_job[['copertura_lingue_obbligatorie', 'copertura_lingue_opzionali']] = df_cv_job.apply(calcola_copertura, axis=1)

# Visualizziamo le prime righe del dataframe aggiornato
df_cv_job.head()

,kId_cv,qId_cv,education_cv,age_cv,languages_cv,nationality_cv,experiences_cv,gender_cv,disability_cv,contract_cv,city_cv,ethnicity_cv,religion_cv,sexual_orientation_cv,occupation_job,educations_job,age_job,gender_job,disability_job,contract_job,languages_job,nationality_job,city_job,experiences_job,ethnicity_job,religion_job,sexual_orientation_job,cv_type_cv,competences_coverage_required,competences_coverage_optional,knowledge_coverage_required,knowledge_coverage_optional,copertura_lingue_obbligatorie,copertura_lingue_opzionali
0,0,0,No Education,21,"[Spanish,NA, LowGerman,NA, English,NA]",Spanish,"(0, -1)",Male,Yes,In Presence,Imperia,White,Not declared,Not declared,broadcasting programme director,"(Master D., True)","(25, 33)",Male,No,In Presence,"([Italian,NA], [Spanish,NA])",Any,"(Paterno, -1)","(2, True)",White,Judaism,asexual,random,0.0,0.0,0.0,0.0,0.0,1.0
1,1,0,Bachelor D.,50,"[Spanish,NA, English,C1]",Spanish,"(2, -1)",Female,Yes,In Presence,Miasino,Black,Not declared,heterosexual,broadcasting programme director,"(Master D., True)","(25, 33)",Male,No,In Presence,"([Italian,NA], [Spanish,NA])",Any,"(Paterno, -1)","(2, True)",White,Judaism,asexual,random,0.0,0.0,0.0,0.0,0.0,1.0
2,2,0,Degree,23,"[Italian,C2, French,NA, English,B2]",Italian,"(4, -1)",Female,Yes,In Presence,Quattro Castella,Black,Buddhism,heterosexual,broadcasting programme director,"(Master D., True)","(25, 33)",Male,No,In Presence,"([Italian,NA], [Spanish,NA])",Any,"(Paterno, -1)","(2, True)",White,Judaism,asexual,random,0.0,0.0,0.0,0.0,1.0,0.0
3,3,0,Bachelor D.,47,"[Spanish,C1]",Spanish,"(2, 2018)",Female,Not declared,In Presence,Latina,White,Christianity,bisexual,broadcasting programme director,"(Master D., True)","(25, 33)",Male,No,In Presence,"([Italian,NA], [Spanish,NA])",Any,"(Paterno, -1)","(2, True)",White,Judaism,asexual,random,0.0,0.0,0.0,0.0,0.0,1.0
4,4,0,No Education,20,"[Spanish,NA, French,NA, English,NA]",Spanish,"(5, -1)",Male,No,In Presence,Napoli,Black,Christianity,heterosexual,broadcasting programme director,"(Master D., True)","(25, 33)",Male,No,In Presence,"([Italian,NA], [Spanish,NA])",Any,"(Paterno, -1)","(2, True)",White,Judaism,asexual,random,0.0,0.0,0.0,0.0,0.0,1.0

In [25]:
df_cv_job['copertura_lingue_obbligatorie'].value_counts()

copertura_lingue_obbligatorie
0.0    14817
0.5     5456
1.0     4727
Name: count, dtype: int64

In [26]:
df_cv_job['copertura_lingue_opzionali'].value_counts()

copertura_lingue_opzionali
1.0    17458
0.0     7542
Name: count, dtype: int64

In [27]:
df_cv_job = df_cv_job.drop(columns=['languages_cv', 'languages_job'])

## Experiences

### Split dei valori nelle liste : 
### experiences_cv diventa years_experience_cv e year_lastjob_cv 
### experiences_job diventa years_experience_job e required (yes/no)

In [28]:
# Split della colonna experiences_cv
df_cv_job['years_experience_cv'] = df_cv_job['experiences_cv'].apply(lambda x: x[0])
df_cv_job['year_lastjob_cv'] = df_cv_job['experiences_cv'].apply(lambda x: x[1])

# Split della colonna experiences_job
df_cv_job['years_experience_job'] = df_cv_job['experiences_job'].apply(lambda x: x[0])
df_cv_job['years_experience_job_req'] = df_cv_job['experiences_job'].apply(lambda x: 1 if x[1] else 0)

# Visualizzare le prime righe del dataframe aggiornato
df_cv_job[['years_experience_cv', 'year_lastjob_cv', 'years_experience_job', 'years_experience_job_req']].head()

,years_experience_cv,year_lastjob_cv,years_experience_job,years_experience_job_req
0,0,-1,2,1
1,2,-1,2,1
2,4,-1,2,1
3,2,2018,2,1
4,5,-1,2,1

In [29]:
df_cv_job = df_cv_job.drop(columns=['experiences_cv', 'experiences_job'])

In [30]:
df_cv_job.head()

,kId_cv,qId_cv,education_cv,age_cv,nationality_cv,gender_cv,disability_cv,contract_cv,city_cv,ethnicity_cv,religion_cv,sexual_orientation_cv,occupation_job,educations_job,age_job,gender_job,disability_job,contract_job,nationality_job,city_job,ethnicity_job,religion_job,sexual_orientation_job,cv_type_cv,competences_coverage_required,competences_coverage_optional,knowledge_coverage_required,knowledge_coverage_optional,copertura_lingue_obbligatorie,copertura_lingue_opzionali,years_experience_cv,year_lastjob_cv,years_experience_job,years_experience_job_req
0,0,0,No Education,21,Spanish,Male,Yes,In Presence,Imperia,White,Not declared,Not declared,broadcasting programme director,"(Master D., True)","(25, 33)",Male,No,In Presence,Any,"(Paterno, -1)",White,Judaism,asexual,random,0.0,0.0,0.0,0.0,0.0,1.0,0,-1,2,1
1,1,0,Bachelor D.,50,Spanish,Female,Yes,In Presence,Miasino,Black,Not declared,heterosexual,broadcasting programme director,"(Master D., True)","(25, 33)",Male,No,In Presence,Any,"(Paterno, -1)",White,Judaism,asexual,random,0.0,0.0,0.0,0.0,0.0,1.0,2,-1,2,1
2,2,0,Degree,23,Italian,Female,Yes,In Presence,Quattro Castella,Black,Buddhism,heterosexual,broadcasting programme director,"(Master D., True)","(25, 33)",Male,No,In Presence,Any,"(Paterno, -1)",White,Judaism,asexual,random,0.0,0.0,0.0,0.0,1.0,0.0,4,-1,2,1
3,3,0,Bachelor D.,47,Spanish,Female,Not declared,In Presence,Latina,White,Christianity,bisexual,broadcasting programme director,"(Master D., True)","(25, 33)",Male,No,In Presence,Any,"(Paterno, -1)",White,Judaism,asexual,random,0.0,0.0,0.0,0.0,0.0,1.0,2,2018,2,1
4,4,0,No Education,20,Spanish,Male,No,In Presence,Napoli,Black,Christianity,heterosexual,broadcasting programme director,"(Master D., True)","(25, 33)",Male,No,In Presence,Any,"(Paterno, -1)",White,Judaism,asexual,random,0.0,0.0,0.0,0.0,0.0,1.0,5,-1,2,1

## Education

### per Education_cv utilizziamo un Label Encoding, mentre per Education_job usiamo Label Econding + splittiamo l'informazione inerente la rilevanza in una nuova colonna (Education_job_req True/False)

In [31]:
education_cv_mapping = {
    'No Education': 0,
    'Degree': 1,
    'Bachelor D.': 2,
    'Master D.': 3,
    'PhD': 4
}

In [32]:
# Applicare il mapping alla colonna 'education_cv'
df_cv_job['education_cv_encoded'] = df_cv_job['education_cv'].map(education_cv_mapping)

# Visualizzare righe casuali del dataframe con la nuova colonna
df_cv_job[['education_cv', 'education_cv_encoded']].sample(5)

      education_cv  education_cv_encoded
16821    Master D.                     3
9848   Bachelor D.                     2
21359  Bachelor D.                     2
5625           PhD                     4
20241       Degree                     1

In [33]:
df_cv_job = df_cv_job.drop(columns=['education_cv'])

In [34]:
# Split della colonna education_job
df_cv_job['educations_job_req'] = df_cv_job['educations_job'].apply(lambda x: 1 if x[1] else 0)
df_cv_job['educations_job_new'] = df_cv_job['educations_job'].apply(lambda x: x[0])
# Visualizzare righe casuali del dataframe con la nuova colonna
df_cv_job[['educations_job', 'educations_job_new', 'educations_job_req']].sample(5)

             educations_job educations_job_new  educations_job_req
3214        (Degree, False)             Degree                   0
11683  (Bachelor D., False)        Bachelor D.                   0
16583     (Master D., True)          Master D.                   1
24415   (Bachelor D., True)        Bachelor D.                   1
15421    (Master D., False)          Master D.                   0

In [35]:
df_cv_job = df_cv_job.drop(columns=['educations_job'])

In [36]:
education_job_mapping = {
    'Any': 0,
    'Degree': 1,
    'Bachelor D.': 2,
    'Master D.': 3,
    'PhD': 4
}

In [37]:
# Applicare il mapping alla colonna 'education_job_new'
df_cv_job['educations_job_encoded'] = df_cv_job['educations_job_new'].map(education_job_mapping).astype(int)
# Visualizzare righe casuali del dataframe con la nuova colonna
df_cv_job[['educations_job_encoded', 'educations_job_new']].sample(5)

       educations_job_encoded educations_job_new
22459                       3          Master D.
23523                       1             Degree
18957                       1             Degree
17136                       2        Bachelor D.
24846                       1             Degree

In [38]:
df_cv_job = df_cv_job.drop(columns=['educations_job_new'])

In [39]:
df_cv_job.sample(10)

,kId_cv,qId_cv,age_cv,nationality_cv,gender_cv,disability_cv,contract_cv,city_cv,ethnicity_cv,religion_cv,sexual_orientation_cv,occupation_job,age_job,gender_job,disability_job,contract_job,nationality_job,city_job,ethnicity_job,religion_job,sexual_orientation_job,cv_type_cv,competences_coverage_required,competences_coverage_optional,knowledge_coverage_required,knowledge_coverage_optional,copertura_lingue_obbligatorie,copertura_lingue_opzionali,years_experience_cv,year_lastjob_cv,years_experience_job,years_experience_job_req,education_cv_encoded,educations_job_req,educations_job_encoded
18351,18351,36,30,French,Female,No,Any,Pioltello,Not declared,Christianity,bisexual,project support officer,"(22, 34)",Female,Any,Remotely,Any,"(Marostica, -1)",Any,Christianity,bisexual,consistent,0.666667,1.0,1.000000,1.0,0.0,1.0,3,-1,0,0,2,1,2
18573,18573,37,26,Italian,Not binary,No,Hybrid,Taranto,White,Buddhism,homosexual,residential home young people care worker,"(18, 23)",Male,No,Hybrid,Any,"(Mozzate, 120)",White,Christianity,bisexual,random,0.000000,1.0,0.000000,1.0,0.5,0.0,3,2018,2,1,3,0,1
8514,8514,17,38,Spanish,Not declared,No,In Presence,Thiene,Hispanic,Christianity,Not declared,laser cutting machine operator,"(20, 40)",Female,No,In Presence,Any,"(Trecate, 170)",White,Any,heterosexual,random,0.000000,0.0,0.000000,0.0,0.0,1.0,0,-1,1,1,3,0,1
7556,7556,15,35,Spanish,Male,Not declared,Hybrid,Roma,White,Islam,heterosexual,railway station manager,"(21, 36)",Male,Any,In Presence,Any,"(Catanzaro, 40)",White,Christianity,heterosexual,random,0.000000,0.0,0.000000,1.0,0.0,1.0,1,2024,1,1,0,1,1
8278,8278,16,50,LowGerman,Not binary,No,In Presence,Agrate Brianza,White,Christianity,Not declared,toymaker,"(21, 35)",Male,No,In Presence,Any,"(Messina, -1)",Asian,Christianity,homosexual,random,0.000000,0.0,0.000000,1.0,0.0,0.0,2,2022,2,0,1,1,1
8516,8516,17,60,Russian,Not declared,Yes,Hybrid,Bologna,Asian,Christianity,asexual,laser cutting machine operator,"(20, 40)",Female,No,In Presence,Any,"(Trecate, 170)",White,Any,heterosexual,random,0.000000,0.0,0.000000,0.0,0.0,1.0,1,2025,1,1,2,0,1
4369,4369,8,29,Italian,Male,No,Hybrid,Avellino,Hispanic,Christianity,heterosexual,odds compiler,"(19, 30)",Male,No,In Presence,Any,"(Roma, 30)",Hispanic,Christianity,heterosexual,consistent,1.000000,1.0,1.000000,1.0,0.0,0.0,1,2023,1,0,1,0,1
22919,22919,45,34,Spanish,Male,No,Any,Pistoia,White,Christianity,heterosexual,technical sales representative in the textile machinery industry,"(25, 34)",Male,Any,Hybrid,Any,"(Pino Torinese, 160)",White,Christianity,heterosexual,consistent,0.500000,1.0,0.666667,1.0,0.5,1.0,2,2025,2,1,2,0,2
24555,24555,49,53,Irish,Male,No,In Presence,Venezia,White,Christianity,heterosexual,gaming dealer,"(18, 34)",Male,No,In Presence,Italian,"(Cercola, -1)",White,Christianity,heterosexual,random,0.000000,0.0,0.000000,1.0,0.0,0.0,1,-1,1,0,2,1,1
5850,5850,11,32,Irish,Male,Not declared,In Presence,Milano,Black,Christianity,heterosexual,handyperson,"(27, 45)",Male,Any,In Presence,Any,"(Lissone, 170)",Black,Christianity,heterosexual,consistent,1.000000,0.0,1.000000,1.0,0.0,0.0,3,-1,1,0,2,1,2

## cv_type_cv

### rendiamo binaria la variabile cv_type_cv rinominandola isConsistent (true/false)

In [40]:
df_cv_job['isConsistent'] = df_cv_job['cv_type_cv'].map({'consistent': 1, 'random': 0})

# Visualizzare le prime righe per verificare il risultato
df_cv_job[['cv_type_cv', 'isConsistent']].sample(20)

       cv_type_cv  isConsistent
21491  consistent             1
20175      random             0
6816   consistent             1
16429  consistent             1
21514      random             0
6132       random             0
21773      random             0
22270      random             0
14044      random             0
4947   consistent             1
2908   consistent             1
17276      random             0
11399  consistent             1
15549      random             0
18179      random             0
10422  consistent             1
3181       random             0
16971  consistent             1
2248       random             0
22230      random             0

In [41]:
df_cv_job = df_cv_job.drop(columns=['cv_type_cv'])

In [42]:
df_cv_job['gender_job'].value_counts()

gender_job
Male      14500
Any        5500
Female     5000
Name: count, dtype: int64

## Contract, Gender e Disability

### per Contract, Gender e Disability, utilizziamo un one hot encoding

In [43]:
df_cv_job = pd.get_dummies(df_cv_job, columns=['contract_job','contract_cv','gender_job','gender_cv','disability_cv','disability_job'], drop_first=False)

# Visualizzare le prime righe del dataframe aggiornato
df_cv_job.sample(5)

,kId_cv,qId_cv,age_cv,nationality_cv,city_cv,ethnicity_cv,religion_cv,sexual_orientation_cv,occupation_job,age_job,nationality_job,city_job,ethnicity_job,religion_job,sexual_orientation_job,competences_coverage_required,competences_coverage_optional,knowledge_coverage_required,knowledge_coverage_optional,copertura_lingue_obbligatorie,copertura_lingue_opzionali,years_experience_cv,year_lastjob_cv,years_experience_job,years_experience_job_req,education_cv_encoded,educations_job_req,educations_job_encoded,isConsistent,contract_job_Hybrid,contract_job_In Presence,contract_job_Remotely,contract_cv_Any,contract_cv_Hybrid,contract_cv_In Presence,contract_cv_Remotely,gender_job_Any,gender_job_Female,gender_job_Male,gender_cv_Female,gender_cv_Male,gender_cv_Not binary,gender_cv_Not declared,disability_cv_No,disability_cv_Not declared,disability_cv_Yes,disability_job_Any,disability_job_No
21039,21039,42,60,Spanish,Sovicille,Not declared,Judaism,homosexual,industrial quality manager,"(23, 37)",Any,"(Brescia, 80)",Hispanic,Christianity,Any,0.000000,1.0,0.000000,0.0,1.0,1.0,2,-1,1,1,3,1,2,0,False,True,False,False,False,True,False,False,True,False,False,False,False,True,True,False,False,False,True
20946,20946,41,17,English,Pomigliano d'Arco,Black,Judaism,asexual,call centre agent,"(17, 24)",Any,"(Teverola, 80)",Black,Judaism,asexual,0.333333,0.0,0.333333,1.0,0.0,1.0,2,-1,2,0,2,0,0,1,False,True,False,False,False,False,True,False,True,False,True,False,False,False,True,False,False,False,True
24176,24176,48,29,Italian,Prato,Black,Judaism,asexual,immunologist,"(25, 42)",Any,"(Torino, 190)",White,Christianity,bisexual,0.000000,0.0,0.000000,1.0,1.0,1.0,2,2024,0,0,3,1,2,0,False,True,False,True,False,False,False,False,False,True,False,False,False,True,True,False,False,True,False
13463,13463,26,26,English,Melfi,White,Buddhism,heterosexual,musical conductor,"(23, 28)",Any,"(Imperia, -1)",White,Buddhism,heterosexual,1.000000,0.0,1.000000,0.0,0.0,0.0,1,2017,1,0,2,0,2,1,False,True,False,False,True,False,False,False,False,True,False,True,False,False,True,False,False,True,False
8908,8908,17,31,Swedish,Tivoli,White,Judaism,heterosexual,laser cutting machine operator,"(20, 40)",Any,"(Trecate, 170)",White,Any,heterosexual,1.000000,0.0,0.333333,0.0,0.0,1.0,2,2021,1,1,1,0,1,1,False,True,False,False,False,True,False,False,True,False,True,False,False,False,True,False,False,False,True

## Prima di fare l'encoding delle colonne nationality e city, andiamo a creare delle correlazioni con le colonne religion e ethnicity per quanto riguarda le colonne _cv

In [44]:
import random

In [45]:
def get_cities_for_religion(religion, city_df):
    cities = city_df['city'].tolist()
    
    if religion == 'Christianity':
        return cities[:int(len(cities) * 0.25)]  # Supponiamo di prendere il 25% delle cittÃ 
    elif religion == 'Islam':
        return cities[int(len(cities) * 0.25):int(len(cities) * 0.5)]
    elif religion == 'Buddhism':
        return cities[int(len(cities) * 0.5):int(len(cities) * 0.75)]
    elif religion == 'Judaism':
        return cities[int(len(cities) * 0.75):]
    else:
        return cities  # Se la religione non corrisponde a nulla, usiamo tutte le cittÃ

In [46]:
# Funzione per creare la correlazione tra 'religion' e 'city'
def create_city_correlation(df, correlation_percent, city_df):
    cities = city_df['city'].tolist()  # Usa tutte le cittÃ  dal CSV
    for i in range(len(df)):
        religion = df.at[i, 'religion_cv']  # Prendi la religione corrente
        if random.random() < correlation_percent:
            # Prendi cittÃ  correlate in base alla religione
            religion_cities = get_cities_for_religion(religion, city_df)
            df.at[i, 'city_cv'] = random.choice(religion_cities)
        else:
            # Se non si applica la correlazione, scegli una cittÃ  casuale
            df.at[i, 'city_cv'] = random.choice(cities)

In [47]:
# Carica il CSV contenente le cittÃ 
city_df = pd.read_csv('all_cities.csv')

In [48]:
# Applica la correlazione dell'100% tra 'religion' e 'city'
create_city_correlation(df_cv_job, 1, city_df)

In [49]:
nationalities = ['Spanish', 'Italian', 'French', 'English', 'Swedish', 'Irish', 'Russian', 'LowGerman', 'Romanian', 'Catalan', 'German']

In [50]:
# Funzione per creare un mapping fittizio tra ethnicity e nazionalitÃ 
def get_nationalities_for_ethnicity(ethnicity):
    if ethnicity == 'White':
        return nationalities[:3]  # Ad esempio, White potrebbe essere associata a Spanish, Italian, French
    elif ethnicity == 'Black':
        return nationalities[3:6]  # Ad esempio, Black potrebbe essere associata a English, Swedish, Irish
    elif ethnicity == 'Asian':
        return nationalities[6:8]  # Ad esempio, Asian potrebbe essere associata a Russian, LowGerman
    elif ethnicity == 'Hispanic':
        return nationalities[8:]  # Ad esempio, Hispanic potrebbe essere associata a Romanian, Catalan, German
    else:
        return nationalities  # Se l'etnia non corrisponde a nulla, usiamo tutte le nazionalitÃ

In [51]:
# Funzione per creare la correlazione tra 'ethnicity' e 'nationality'
def create_nationality_correlation(df, correlation_percent):
    for i in range(len(df)):
        ethnicity = df.at[i, 'ethnicity_cv']  # Prendi l'etnia corrente
        if random.random() < correlation_percent:
            # Prendi nazionalitÃ  correlate in base all'etnia
            ethnicity_nationalities = get_nationalities_for_ethnicity(ethnicity)
            df.at[i, 'nationality_cv'] = random.choice(ethnicity_nationalities)
        else:
            # Se non si applica la correlazione, scegli una nazionalitÃ  casuale
            df.at[i, 'nationality_cv'] = random.choice(nationalities)

In [52]:
# Applica la correlazione tra 'ethnicity' e 'nationality'
create_nationality_correlation(df_cv_job, 1)

In [53]:
contingency_table_eth_nat = pd.crosstab(df_cv_job['nationality_cv'], df_cv_job['ethnicity_cv'])

In [54]:
contingency_table_religion_city = pd.crosstab(df_cv_job['religion_cv'], df_cv_job['city_cv'])

In [55]:
import numpy as np
import scipy.stats as stats

In [56]:
def cramers_v(confusion_matrix):
    chi2 = stats.chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum()
    r, k = confusion_matrix.shape
    return np.sqrt(chi2 / (n * (min(r, k) - 1)))

In [57]:
# Calcolare V di Cramer
v_cramer_eth_nat = cramers_v(contingency_table_eth_nat.values)
v_cramer_religion_city = cramers_v(contingency_table_religion_city.values)

In [58]:
print(f"V di Cramer: {v_cramer_eth_nat}")

V di Cramer: 0.8303531831636866

In [59]:
print(f"V di Cramer: {v_cramer_religion_city}")

V di Cramer: 0.8425435314951315

### avendo correlato ethnicity_cv e religion_cv, possiamo eliminarle per avere dei CV piÃ¹ simili alla realtÃ . Eliminiamo anche sexual_orientation_cv, poichÃ¨ non Ã¨ possibile correrarla con altre info presenti nei CV.

#### Ã¨ corretto eliminare sia la parte _cv che _job????????

In [60]:
df_cv_job = df_cv_job.drop(columns=['ethnicity_cv','ethnicity_job', 'religion_cv', 'religion_job', 'sexual_orientation_cv','sexual_orientation_job'])

## GENERAZIONE NOMI E COGNOMI CASUALI CORRELATI ALLA NAZIONALITÃ

UTILIZZIAMO LA LIBRERIA FAKER, CHE PERMETTE DI GENERARE NOMI E COGNOMI CASUALI PER DETERMINATE NAZIONALITÃ

In [61]:
from faker import Faker
import random



# Dizionario che mappa le nazionalitÃ  ai generatori Faker
fake_generators = {
    "Italian": Faker("it_IT"),
    "Spanish": Faker("es_ES"),
    "French": Faker("fr_FR"),
    "English": Faker("en_US"),
    "Swedish": Faker("sv_SE"),
    "Irish": Faker("en_IE"),
    "Russian": Faker("ru_RU"),
    "Romanian": Faker("ro_RO"),
    "LowGerman": Faker("de_DE"),  # Approssimazione
    "Catalan": Faker("es_ES"),    # Nessuna localizzazione diretta
    "German": Faker("de_DE"),
}

In [62]:
# Funzione per generare un nome e cognome basati sulla nazionalitÃ 
def generate_name_from_nationality(nationality):
    fake = fake_generators.get(nationality, Faker())  # Default Faker se la nazionalitÃ  non Ã¨ mappata
    return fake.first_name(), fake.last_name()

In [63]:

# Applicare la generazione al DataFrame
df_cv_job["Generated_Name_cv"], df_cv_job["Generated_Surname_cv"] = zip(*df_cv_job["nationality_cv"].map(generate_name_from_nationality))

In [64]:
df_cv_job.head(10)

,kId_cv,qId_cv,age_cv,nationality_cv,city_cv,occupation_job,age_job,nationality_job,city_job,competences_coverage_required,competences_coverage_optional,knowledge_coverage_required,knowledge_coverage_optional,copertura_lingue_obbligatorie,copertura_lingue_opzionali,years_experience_cv,year_lastjob_cv,years_experience_job,years_experience_job_req,education_cv_encoded,educations_job_req,educations_job_encoded,isConsistent,contract_job_Hybrid,contract_job_In Presence,contract_job_Remotely,contract_cv_Any,contract_cv_Hybrid,contract_cv_In Presence,contract_cv_Remotely,gender_job_Any,gender_job_Female,gender_job_Male,gender_cv_Female,gender_cv_Male,gender_cv_Not binary,gender_cv_Not declared,disability_cv_No,disability_cv_Not declared,disability_cv_Yes,disability_job_Any,disability_job_No,Generated_Name_cv,Generated_Surname_cv
0,0,0,21,Spanish,Castrezzato,broadcasting programme director,"(25, 33)",Any,"(Paterno, -1)",0.0,0.0,0.0,0.0,0.0,1.0,0,-1,2,1,0,1,3,0,False,True,False,False,False,True,False,False,False,True,False,True,False,False,False,False,True,False,True,MÃ¡ximo,Montoya
1,1,0,50,Irish,Suvereto,broadcasting programme director,"(25, 33)",Any,"(Paterno, -1)",0.0,0.0,0.0,0.0,0.0,1.0,2,-1,2,1,2,1,3,0,False,True,False,False,False,True,False,False,False,True,True,False,False,False,False,False,True,False,True,Odhran,Cairn
2,2,0,23,English,Palombara Sabina,broadcasting programme director,"(25, 33)",Any,"(Paterno, -1)",0.0,0.0,0.0,0.0,1.0,0.0,4,-1,2,1,1,1,3,0,False,True,False,False,False,True,False,False,False,True,True,False,False,False,False,False,True,False,True,Justin,Wilkerson
3,3,0,47,Italian,Braies,broadcasting programme director,"(25, 33)",Any,"(Paterno, -1)",0.0,0.0,0.0,0.0,0.0,1.0,2,2018,2,1,2,1,3,0,False,True,False,False,False,True,False,False,False,True,True,False,False,False,False,True,False,False,True,Saverio,Sibilia
4,4,0,20,English,Bellinzago Novarese,broadcasting programme director,"(25, 33)",Any,"(Paterno, -1)",0.0,0.0,0.0,0.0,0.0,1.0,5,-1,2,1,0,1,3,0,False,True,False,False,False,True,False,False,False,True,False,True,False,False,True,False,False,False,True,Crystal,Palmer
5,5,0,36,Swedish,Capalbio,broadcasting programme director,"(25, 33)",Any,"(Paterno, -1)",0.0,0.0,0.0,0.0,0.0,1.0,1,2021,2,1,0,1,3,0,False,True,False,False,False,True,False,False,False,True,True,False,False,False,False,True,False,False,True,Hans,Karlsson
6,6,0,23,Italian,Lesmo,broadcasting programme director,"(25, 33)",Any,"(Paterno, -1)",0.0,0.0,0.0,0.0,1.0,1.0,1,-1,2,1,0,1,3,0,False,True,False,False,False,True,False,False,False,True,False,False,False,True,False,False,True,False,True,Gianfrancesco,Musatti
7,7,0,50,Russian,Mola di Bari,broadcasting programme director,"(25, 33)",Any,"(Paterno, -1)",0.0,0.0,0.0,0.0,1.0,0.0,1,-1,2,1,2,1,3,0,False,True,False,False,False,True,False,False,False,True,True,False,False,False,True,False,False,False,True,Ð¢Ð°Ð¼Ð°Ñ€Ð°,Ð¡ÑƒÐ²Ð¾Ñ€Ð¾Ð²
8,8,0,46,German,Camaiore,broadcasting programme director,"(25, 33)",Any,"(Paterno, -1)",0.0,0.0,0.0,0.0,0.0,1.0,3,2020,2,1,0,1,3,0,False,True,False,False,False,True,False,False,False,True,False,True,False,False,False,False,True,False,True,Johanne,Seifert
9,9,0,26,Irish,Piedimonte San Germano,broadcasting programme director,"(25, 33)",Any,"(Paterno, -1)",0.0,0.0,0.0,0.0,1.0,0.0,0,-1,2,1,3,1,3,0,False,True,False,False,False,True,False,False,False,True,False,False,False,True,True,False,False,False,True,Taylor,Paul

## Name e Surname

Utilizziamo Word2Vec (libreria gensim) per rappresentare name e surname come vettori continui e catturarne la semantica

In [65]:
from gensim.models import Word2Vec

In [66]:
# Unire nome e cognome
df_cv_job["Full_Name"] = df_cv_job["Generated_Name_cv"] + " " + df_cv_job["Generated_Surname_cv"]

# Preprocessing: tokenizzare i nomi completi in frasi
sentences = [full_name.split() for full_name in df_cv_job["Full_Name"]]

# Addestrare il modello Word2Vec
w2v_model = Word2Vec(
    sentences=sentences, 
    vector_size=50,  # Dimensione dei vettori
    window=5,        # Finestra di contesto
    min_count=1,     # Minimo numero di occorrenze per una parola
    sg=1             # Skip-gram (sg=1) o CBOW (sg=0)
)

In [67]:

# Funzione per ottenere il vettore di una parola
def get_word_vector(word):
    return w2v_model.wv[word] if word in w2v_model.wv else [0] * 50

In [68]:
# Funzione per ottenere un vettore combinato per il nome completo
def get_full_name_vector(full_name):
    words = full_name.split()
    vectors = [get_word_vector(word) for word in words]
    # Somma o media dei vettori delle parole
    return [sum(x) / len(x) for x in zip(*vectors)] if vectors else [0] * 50

In [69]:
# Applicare Word2Vec alla colonna Full_Name
df_cv_job["Full_Name_Vector"] = df_cv_job["Full_Name"].apply(get_full_name_vector)

In [70]:
# Espandere i vettori in colonne
vector_columns = pd.DataFrame(df_cv_job["Full_Name_Vector"].tolist(), columns=[f"Vec_{i}" for i in range(1, 51)])
df_cv_job = pd.concat([df_cv_job.drop(columns=["Full_Name_Vector", "Full_Name", "Generated_Name_cv","Generated_Surname_cv"]), vector_columns], axis=1)

In [71]:
# Mostrare il risultato
df_cv_job.head()

,kId_cv,qId_cv,age_cv,nationality_cv,city_cv,occupation_job,age_job,nationality_job,city_job,competences_coverage_required,competences_coverage_optional,knowledge_coverage_required,knowledge_coverage_optional,copertura_lingue_obbligatorie,copertura_lingue_opzionali,years_experience_cv,year_lastjob_cv,years_experience_job,years_experience_job_req,education_cv_encoded,educations_job_req,educations_job_encoded,isConsistent,contract_job_Hybrid,contract_job_In Presence,contract_job_Remotely,contract_cv_Any,contract_cv_Hybrid,contract_cv_In Presence,contract_cv_Remotely,gender_job_Any,gender_job_Female,gender_job_Male,gender_cv_Female,gender_cv_Male,gender_cv_Not binary,gender_cv_Not declared,disability_cv_No,disability_cv_Not declared,disability_cv_Yes,disability_job_Any,disability_job_No,Vec_1,Vec_2,Vec_3,Vec_4,Vec_5,Vec_6,Vec_7,Vec_8,Vec_9,Vec_10,Vec_11,Vec_12,Vec_13,Vec_14,Vec_15,Vec_16,Vec_17,Vec_18,Vec_19,Vec_20,Vec_21,Vec_22,Vec_23,Vec_24,Vec_25,Vec_26,Vec_27,Vec_28,Vec_29,Vec_30,Vec_31,Vec_32,Vec_33,Vec_34,Vec_35,Vec_36,Vec_37,Vec_38,Vec_39,Vec_40,Vec_41,Vec_42,Vec_43,Vec_44,Vec_45,Vec_46,Vec_47,Vec_48,Vec_49,Vec_50
0,0,0,21,Spanish,Castrezzato,broadcasting programme director,"(25, 33)",Any,"(Paterno, -1)",0.0,0.0,0.0,0.0,0.0,1.0,0,-1,2,1,0,1,3,0,False,True,False,False,False,True,False,False,False,True,False,True,False,False,False,False,True,False,True,0.001268,0.001608,-0.014463,-0.010021,0.005540,-0.003445,-0.001192,-0.004650,-0.000238,-0.010829,-0.015976,-0.001336,0.003372,-0.011689,0.011370,-0.005914,-0.006730,0.002958,0.000566,0.001605,-0.001163,0.000037,-0.012586,-0.004104,0.008455,-0.000081,0.006101,0.003516,-0.008996,0.010606,-0.008074,0.005182,-0.006505,0.011596,-0.002448,-0.004155,-0.016009,0.003487,0.013554,0.003235,0.013310,0.007438,0.002819,0.001451,-0.002121,0.004666,-0.007483,-0.004061,-0.007024,0.003193
1,1,0,50,Irish,Suvereto,broadcasting programme director,"(25, 33)",Any,"(Paterno, -1)",0.0,0.0,0.0,0.0,0.0,1.0,2,-1,2,1,2,1,3,0,False,True,False,False,False,True,False,False,False,True,True,False,False,False,False,False,True,False,True,0.009611,0.008529,-0.001907,0.005874,-0.001526,-0.004872,0.003898,-0.006318,-0.000266,0.008134,0.014642,0.006431,-0.012710,0.000188,-0.017005,0.008426,0.007474,-0.014622,0.006150,0.000305,0.002619,-0.000038,-0.008163,-0.007131,0.003419,0.009480,0.009290,0.005986,0.005116,-0.006601,-0.008739,0.001772,-0.012000,0.010997,-0.008153,0.000983,0.001750,-0.003214,0.002595,0.008384,-0.010351,0.001295,0.001781,-0.009144,-0.007253,0.000843,-0.009634,0.005863,0.004844,-0.004952
2,2,0,23,English,Palombara Sabina,broadcasting programme director,"(25, 33)",Any,"(Paterno, -1)",0.0,0.0,0.0,0.0,1.0,0.0,4,-1,2,1,1,1,3,0,False,True,False,False,False,True,False,False,False,True,True,False,False,False,False,False,True,False,True,-0.013720,-0.007711,-0.003079,0.008164,0.003318,-0.005789,0.002537,0.004468,-0.000182,-0.003594,0.007591,0.006249,0.013238,0.015779,-0.014141,0.010777,-0.009336,-0.013596,0.008202,0.012126,-0.007493,0.008562,-0.004787,0.001465,-0.011114,0.000899,0.014601,-0.009991,-0.013352,-0.004072,-0.001938,0.000758,-0.008500,0.002358,0.009163,-0.009066,0.006686,-0.011268,0.005075,0.007225,-0.014307,0.001807,0.011067,-0.005294,-0.013409,0.003912,0.002170,-0.008258,-0.015549,-0.009944
3,3,0,47,Italian,Braies,broadcasting programme director,"(25, 33)",Any,"(Paterno, -1)",0.0,0.0,0.0,0.0,0.0,1.0,2,2018,2,1,2,1,3,0,False,True,False,False,False,True,False,False,False,True,True,False,False,False,False,True,False,False,True,0.007425,-0.002706,-0.003420,0.002908,-0.002135,-0.011737,0.000295,0.019351,-0.001600,-0.003077,0.014094,0.014837,-0.017370,0.005362,0.004468,0.017147,-0.009461,-0.004822,-0.000960,-0.000251,0.002359,0.000407,0.007758,-0.005630,-0.002140,0.014348,0.003491,0.002709,0.004736,-0.010536,0.001250,0.003494,-0.005811,0.008684,0.003234,0.001825,-0.006562,-0.000819,-0.007493,0.006057,0.001316,0.002710,0.004471,-0.012113,0.015557,-0.003785,-0.005926,0.000030,-0.002887,0.009942
4,4,0,20,English,Bellinzago Novarese,broadcasting programme director,"(25, 33)",Any,"(Paterno, -1)",0.0,0.0,0.0,0.0,0.0,1.0,5,-1,2,1,0,1,3,0,False,True,False,False,False,True,False,False,False,True,False,True,False,False,True,False,False,False,True,-0.015486,-0.003221,-0.000666,0.008830,-0.001852,0.010633,0.006742,0.001577,0.000969,0.001159,0.000911,0.011996,0.003429,0.003796,-0.000585,-0.002845,-0.001499,0.000437,0.006319,-0.001028,0.004829,-0.012097,-0.014648,-0.005386,-0.008628,0.005396,0.002517,0.015964,-0.010679,0.000990,0.001791,0.001091,0.004659,0.003873,0.004478,0.006287,-0.007880,-0.012744,0.007848,0.011000,-0.000068,0.003570,-0.010066,-0.009235,0.010273,0.004582,-0.011075,0.011440,-0.017034,0.013673

## Per avere meno feature nelle colonne, applichiamo la PCA alle sole colonne che rappresentano i vettori generati

In [72]:
from sklearn.decomposition import PCA

# Selezionare le colonne per la PCA
vector_columns = [f"Vec_{i}" for i in range(1, 51)]
X = df_cv_job[vector_columns]

# Applicare la PCA per ridurre a 2 componenti
pca = PCA(n_components=2)
X_pca = pca.fit_transform(X)

# Convertire i risultati in un DataFrame
pca_columns = [f"PCA_{i}" for i in range(1, 3)]
pca_df = pd.DataFrame(X_pca, columns=pca_columns)

# Unire i nuovi componenti con le altre colonne
df_cv_job = pd.concat([df_cv_job.drop(columns=vector_columns), pca_df], axis=1)

In [73]:
df_cv_job

,kId_cv,qId_cv,age_cv,nationality_cv,city_cv,occupation_job,age_job,nationality_job,city_job,competences_coverage_required,competences_coverage_optional,knowledge_coverage_required,knowledge_coverage_optional,copertura_lingue_obbligatorie,copertura_lingue_opzionali,years_experience_cv,year_lastjob_cv,years_experience_job,years_experience_job_req,education_cv_encoded,educations_job_req,educations_job_encoded,isConsistent,contract_job_Hybrid,contract_job_In Presence,contract_job_Remotely,contract_cv_Any,contract_cv_Hybrid,contract_cv_In Presence,contract_cv_Remotely,gender_job_Any,gender_job_Female,gender_job_Male,gender_cv_Female,gender_cv_Male,gender_cv_Not binary,gender_cv_Not declared,disability_cv_No,disability_cv_Not declared,disability_cv_Yes,disability_job_Any,disability_job_No,PCA_1,PCA_2
0,0,0,21,Spanish,Castrezzato,broadcasting programme director,"(25, 33)",Any,"(Paterno, -1)",0.000000,0.000000,0.0,0.0,0.0,1.0,0,-1,2,1,0,1,3,0,False,True,False,False,False,True,False,False,False,True,False,True,False,False,False,False,True,False,True,-0.009232,-0.012665
1,1,0,50,Irish,Suvereto,broadcasting programme director,"(25, 33)",Any,"(Paterno, -1)",0.000000,0.000000,0.0,0.0,0.0,1.0,2,-1,2,1,2,1,3,0,False,True,False,False,False,True,False,False,False,True,True,False,False,False,False,False,True,False,True,-0.000368,-0.004032
2,2,0,23,English,Palombara Sabina,broadcasting programme director,"(25, 33)",Any,"(Paterno, -1)",0.000000,0.000000,0.0,0.0,1.0,0.0,4,-1,2,1,1,1,3,0,False,True,False,False,False,True,False,False,False,True,True,False,False,False,False,False,True,False,True,-0.016230,0.000786
3,3,0,47,Italian,Braies,broadcasting programme director,"(25, 33)",Any,"(Paterno, -1)",0.000000,0.000000,0.0,0.0,0.0,1.0,2,2018,2,1,2,1,3,0,False,True,False,False,False,True,False,False,False,True,True,False,False,False,False,True,False,False,True,0.010315,-0.003472
4,4,0,20,English,Bellinzago Novarese,broadcasting programme director,"(25, 33)",Any,"(Paterno, -1)",0.000000,0.000000,0.0,0.0,0.0,1.0,5,-1,2,1,0,1,3,0,False,True,False,False,False,True,False,False,False,True,False,True,False,False,True,False,False,False,True,0.005693,-0.002401
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,24995,49,26,Italian,Bari,gaming dealer,"(18, 34)",Italian,"(Cercola, -1)",1.000000,0.666667,1.0,1.0,1.0,0.0,2,-1,1,0,2,1,1,1,False,True,False,True,False,False,False,False,False,True,False,True,False,False,True,False,False,False,True,0.015264,-0.009441
24996,24996,49,32,Spanish,Cepagatti,gaming dealer,"(18, 34)",Italian,"(Cercola, -1)",1.000000,0.333333,1.0,1.0,0.0,0.0,1,2020,1,0,2,1,1,1,False,True,False,True,False,False,False,False,False,True,False,True,False,False,True,False,False,False,True,-0.005189,-0.001617
24997,24997,49,29,Italian,Buttapietra,gaming dealer,"(18, 34)",Italian,"(Cercola, -1)",1.000000,0.333333,1.0,1.0,0.0,0.0,1,2017,1,0,2,1,1,1,False,True,False,False,False,True,False,False,False,True,False,True,False,False,True,False,False,False,True,-0.000739,-0.011913
24998,24998,49,21,French,Acquaviva delle Fonti,gaming dealer,"(18, 34)",Italian,"(Cercola, -1)",0.333333,0.000000,1.0,1.0,0.0,0.0,1,2022,1,0,1,1,1,1,False,True,False,False,False,True,False,False,False,True,False,True,False,False,True,False,False,False,True,-0.005427,-0.019732
24999,24999,49,23,Spanish,Bolano,gaming dealer,"(18, 34)",Italian,"(Cercola, -1)",0.666667,0.000000,1.0,1.0,1.0,0.0,3,-1,1,0,1,1,1,1,False,True,False,False,False,True,False,False,False,True,False,True,False,False,True,False,False,False,True,0.001733,-0.018091

## Nationality

### utilizziamo one hot encoding per nationality

In [74]:
df_cv_job = pd.get_dummies(df_cv_job, columns=['nationality_job','nationality_cv'], drop_first=False)

# Visualizzare le prime righe del dataframe aggiornato
df_cv_job.sample(5)

,kId_cv,qId_cv,age_cv,city_cv,occupation_job,age_job,city_job,competences_coverage_required,competences_coverage_optional,knowledge_coverage_required,knowledge_coverage_optional,copertura_lingue_obbligatorie,copertura_lingue_opzionali,years_experience_cv,year_lastjob_cv,years_experience_job,years_experience_job_req,education_cv_encoded,educations_job_req,educations_job_encoded,isConsistent,contract_job_Hybrid,contract_job_In Presence,contract_job_Remotely,contract_cv_Any,contract_cv_Hybrid,contract_cv_In Presence,contract_cv_Remotely,gender_job_Any,gender_job_Female,gender_job_Male,gender_cv_Female,gender_cv_Male,gender_cv_Not binary,gender_cv_Not declared,disability_cv_No,disability_cv_Not declared,disability_cv_Yes,disability_job_Any,disability_job_No,PCA_1,PCA_2,nationality_job_Any,nationality_job_Catalan,nationality_job_English,nationality_job_French,nationality_job_Italian,nationality_job_Spanish,nationality_cv_Catalan,nationality_cv_English,nationality_cv_French,nationality_cv_German,nationality_cv_Irish,nationality_cv_Italian,nationality_cv_LowGerman,nationality_cv_Romanian,nationality_cv_Russian,nationality_cv_Spanish,nationality_cv_Swedish
23990,23990,47,31,Chiavenna,rehabilitation support worker,"(21, 36)","(Ragusa, 100)",0.666667,0.0,1.0,0.0,0.0,0.0,4,2024,0,0,1,0,1,1,False,True,False,True,False,False,False,True,False,False,False,True,False,False,True,False,False,False,True,-0.009008,0.011841,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
8776,8776,17,59,Resuttano,laser cutting machine operator,"(20, 40)","(Trecate, 170)",0.000000,0.0,0.0,0.0,0.0,1.0,1,2022,1,1,2,0,1,0,False,True,False,True,False,False,False,False,True,False,True,False,False,False,True,False,False,False,True,0.024739,-0.005156,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
14097,14097,28,38,Gattinara,corporate social responsibility manager,"(18, 30)","(Barletta, 100)",0.000000,1.0,0.0,1.0,0.0,1.0,1,2025,2,1,3,1,1,0,False,True,False,False,False,True,False,False,False,True,True,False,False,False,True,False,False,True,False,0.014999,-0.000247,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
22027,22027,44,44,Demonte,performance rental technician,"(29, 35)","(Varisella, -1)",0.000000,0.0,0.0,0.0,0.5,0.0,2,2020,3,0,2,0,3,0,True,False,False,False,False,True,False,False,False,True,False,True,False,False,True,False,False,True,False,0.000568,0.000245,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
533,533,1,32,Lamporecchio,drilling machine operator,"(22, 36)","(Palagano, 140)",0.000000,0.0,0.0,1.0,0.0,1.0,2,2018,1,0,2,0,2,0,False,True,False,False,False,True,False,False,False,True,False,False,False,True,True,False,False,True,False,0.006842,0.007385,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False

## City

### sembra che city_job non abbia effetto sui match CV/Job (chiedere ad Andrea in caso) quindi la eliminiamo (anche per il fatto che abbiamo correlato city_cv forzatamente, quindi il match fra le cittÃ  se esiste non Ã¨ piÃ¹ corretto).
### per city_cv utilizziamo un Target Econding, utilizzando come target isConsistent

In [75]:
# Importare il target encoder
import category_encoders as ce

In [76]:
# Inizializzare il Target Encoder
target_encoder = ce.TargetEncoder(cols=['city_cv'])

# Eseguire il fit e il transform per eseguire il target encoding
df_cv_job['city_cv_encoded'] = target_encoder.fit_transform(df_cv_job['city_cv'], df_cv_job['isConsistent'])

# Visualizzare le prime righe per confermare
df_cv_job[['city_cv', 'city_cv_encoded', 'isConsistent']].sample(5)

             city_cv  city_cv_encoded  isConsistent
5829         Bascape         0.400000             1
23550  Abbiategrasso         0.404950             0
19129         Venosa         0.379332             0
6053          Porcia         0.353843             0
14665        Ausonia         0.400000             0

In [77]:
print(df_cv_job.groupby('city_cv_encoded')['city_cv'].nunique().sort_values(ascending=False))

city_cv_encoded
0.400000    80
0.394213    45
0.355602    40
0.383351    38
0.375524    35
            ..
0.391308     1
0.404950     1
0.408335     1
0.409978     1
0.682936     1
Name: city_cv, Length: 327, dtype: int64

In [78]:
print(df_cv_job['city_cv_encoded'].value_counts())

city_cv_encoded
0.400000    1090
0.355602     360
0.394213     360
0.383351     342
0.409437     306
            ...
0.509951       8
0.414185       6
0.518690       6
0.458794       4
0.343260       2
Name: count, Length: 327, dtype: int64

In [79]:
print(df_cv_job['city_cv'].value_counts())

city_cv
Castiglione delle Stiviere    52
Casavatore                    49
Bussolengo                    49
Bagno di Romagna              48
Anguillara Sabazia            48
                              ..
Girifalco                      3
Chivasso                       2
Moricone                       2
Marone                         2
Udine                          2
Name: count, Length: 1596, dtype: int64

In [80]:
df_cv_job = df_cv_job.drop(columns=['city_cv', 'city_job'])

In [81]:
df_cv_job.head()

,kId_cv,qId_cv,age_cv,occupation_job,age_job,competences_coverage_required,competences_coverage_optional,knowledge_coverage_required,knowledge_coverage_optional,copertura_lingue_obbligatorie,copertura_lingue_opzionali,years_experience_cv,year_lastjob_cv,years_experience_job,years_experience_job_req,education_cv_encoded,educations_job_req,educations_job_encoded,isConsistent,contract_job_Hybrid,contract_job_In Presence,contract_job_Remotely,contract_cv_Any,contract_cv_Hybrid,contract_cv_In Presence,contract_cv_Remotely,gender_job_Any,gender_job_Female,gender_job_Male,gender_cv_Female,gender_cv_Male,gender_cv_Not binary,gender_cv_Not declared,disability_cv_No,disability_cv_Not declared,disability_cv_Yes,disability_job_Any,disability_job_No,PCA_1,PCA_2,nationality_job_Any,nationality_job_Catalan,nationality_job_English,nationality_job_French,nationality_job_Italian,nationality_job_Spanish,nationality_cv_Catalan,nationality_cv_English,nationality_cv_French,nationality_cv_German,nationality_cv_Irish,nationality_cv_Italian,nationality_cv_LowGerman,nationality_cv_Romanian,nationality_cv_Russian,nationality_cv_Spanish,nationality_cv_Swedish,city_cv_encoded
0,0,0,21,broadcasting programme director,"(25, 33)",0.0,0.0,0.0,0.0,0.0,1.0,0,-1,2,1,0,1,3,0,False,True,False,False,False,True,False,False,False,True,False,True,False,False,False,False,True,False,True,-0.009232,-0.012665,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,0.345824
1,1,0,50,broadcasting programme director,"(25, 33)",0.0,0.0,0.0,0.0,0.0,1.0,2,-1,2,1,2,1,3,0,False,True,False,False,False,True,False,False,False,True,True,False,False,False,False,False,True,False,True,-0.000368,-0.004032,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,0.456838
2,2,0,23,broadcasting programme director,"(25, 33)",0.0,0.0,0.0,0.0,1.0,0.0,4,-1,2,1,1,1,3,0,False,True,False,False,False,True,False,False,False,True,True,False,False,False,False,False,True,False,True,-0.016230,0.000786,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,0.389489
3,3,0,47,broadcasting programme director,"(25, 33)",0.0,0.0,0.0,0.0,0.0,1.0,2,2018,2,1,2,1,3,0,False,True,False,False,False,True,False,False,False,True,True,False,False,False,False,True,False,False,True,0.010315,-0.003472,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,0.362250
4,4,0,20,broadcasting programme director,"(25, 33)",0.0,0.0,0.0,0.0,0.0,1.0,5,-1,2,1,0,1,3,0,False,True,False,False,False,True,False,False,False,True,False,True,False,False,True,False,False,False,True,0.005693,-0.002401,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,0.460090

## Eliminiamo occupation_job

In [82]:
df_cv_job = df_cv_job.drop(columns=['occupation_job'])

## Splittiamo la colonna age_job in age_min_job e age_max_job

In [83]:
# Split della colonna experiences_cv
df_cv_job['age_min_job'] = df_cv_job['age_job'].apply(lambda x: x[0])
df_cv_job['age_max_job'] = df_cv_job['age_job'].apply(lambda x: x[1])

In [84]:
# Visualizzare le prime righe per verificare il risultato
df_cv_job[['age_min_job', 'age_max_job', 'age_job']].sample(5)

       age_min_job  age_max_job   age_job
19656           25           37  (25, 37)
2899            22           31  (22, 31)
3785            22           29  (22, 29)
12179           21           29  (21, 29)
5071            22           37  (22, 37)

In [85]:
df_cv_job = df_cv_job.drop(columns=['age_job'])

In [86]:
df_cv_job.head()

,kId_cv,qId_cv,age_cv,competences_coverage_required,competences_coverage_optional,knowledge_coverage_required,knowledge_coverage_optional,copertura_lingue_obbligatorie,copertura_lingue_opzionali,years_experience_cv,year_lastjob_cv,years_experience_job,years_experience_job_req,education_cv_encoded,educations_job_req,educations_job_encoded,isConsistent,contract_job_Hybrid,contract_job_In Presence,contract_job_Remotely,contract_cv_Any,contract_cv_Hybrid,contract_cv_In Presence,contract_cv_Remotely,gender_job_Any,gender_job_Female,gender_job_Male,gender_cv_Female,gender_cv_Male,gender_cv_Not binary,gender_cv_Not declared,disability_cv_No,disability_cv_Not declared,disability_cv_Yes,disability_job_Any,disability_job_No,PCA_1,PCA_2,nationality_job_Any,nationality_job_Catalan,nationality_job_English,nationality_job_French,nationality_job_Italian,nationality_job_Spanish,nationality_cv_Catalan,nationality_cv_English,nationality_cv_French,nationality_cv_German,nationality_cv_Irish,nationality_cv_Italian,nationality_cv_LowGerman,nationality_cv_Romanian,nationality_cv_Russian,nationality_cv_Spanish,nationality_cv_Swedish,city_cv_encoded,age_min_job,age_max_job
0,0,0,21,0.0,0.0,0.0,0.0,0.0,1.0,0,-1,2,1,0,1,3,0,False,True,False,False,False,True,False,False,False,True,False,True,False,False,False,False,True,False,True,-0.009232,-0.012665,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,0.345824,25,33
1,1,0,50,0.0,0.0,0.0,0.0,0.0,1.0,2,-1,2,1,2,1,3,0,False,True,False,False,False,True,False,False,False,True,True,False,False,False,False,False,True,False,True,-0.000368,-0.004032,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,0.456838,25,33
2,2,0,23,0.0,0.0,0.0,0.0,1.0,0.0,4,-1,2,1,1,1,3,0,False,True,False,False,False,True,False,False,False,True,True,False,False,False,False,False,True,False,True,-0.016230,0.000786,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,0.389489,25,33
3,3,0,47,0.0,0.0,0.0,0.0,0.0,1.0,2,2018,2,1,2,1,3,0,False,True,False,False,False,True,False,False,False,True,True,False,False,False,False,True,False,False,True,0.010315,-0.003472,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,0.362250,25,33
4,4,0,20,0.0,0.0,0.0,0.0,0.0,1.0,5,-1,2,1,0,1,3,0,False,True,False,False,False,True,False,False,False,True,False,True,False,False,True,False,False,False,True,0.005693,-0.002401,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,0.460090,25,33

In [87]:
value_counts = df_cv_job[df_cv_job['knowledge_coverage_required'] == 1.0]['isConsistent'].value_counts()

# Stampa i value_counts
print(value_counts)

isConsistent
1    6687
0      18
Name: count, dtype: int64

In [88]:
value_counts = df_cv_job[df_cv_job['competences_coverage_required'] == 1.0]['isConsistent'].value_counts()

# Stampa i value_counts
print(value_counts)

isConsistent
1    4289
Name: count, dtype: int64

## Per introdurre della complessitÃ  al modello, impostiamo i valori di competences_coverage_required e knowledge_competences_required diversi da 0 nei record non consistenti (rispecchiando anche la realtÃ , poichÃ¨ chi fa application solitamente rispecchia le competenze e conoscenze richieste).

In [89]:
# Filtra il dataframe dove 'isConsistent' Ã¨ uguale a 0
df_inconsistent = df_cv_job[df_cv_job['isConsistent'] == 0 ]

# Seleziona casualmente il 100% delle righe filtrate
df_sampled = df_inconsistent.sample(frac=1, random_state=70)

# Definisci i valori casuali da cui scegliere
random_values = [0.25, 0.5, 0.75, 1.0]

# Assegna valori casuali tra 0.25, 0.5, 0.75, e 1.0 per le colonne 'knowledge_coverage_required' e 'competences_coverage_required'
df_cv_job.loc[df_sampled.index, 'knowledge_coverage_required'] = np.random.choice(random_values, size=len(df_sampled))
df_cv_job.loc[df_sampled.index, 'competences_coverage_required'] = np.random.choice(random_values, size=len(df_sampled))

In [90]:
value_counts = df_cv_job[df_cv_job['knowledge_coverage_required'] == 1]['isConsistent'].value_counts()

# Stampa i value_counts
print(value_counts)

isConsistent
1    6687
0    3772
Name: count, dtype: int64

Plottare distribuzione knowledge rispetto a isConsistent

In [91]:
# Filtra il dataframe dove 'isConsistent' Ã¨ uguale a 1
df_knowledge_full = df_cv_job[df_cv_job['knowledge_coverage_required'] == 1 & (df_cv_job['isConsistent'] == 1) ]

# Seleziona casualmente il 50% delle righe filtrate
df_sampled = df_knowledge_full.sample(frac=0.5, random_state=70)

# Definisci i valori casuali da cui scegliere
random_values = [0.25, 0.5, 0.75]

df_cv_job.loc[df_sampled.index, 'knowledge_coverage_required'] = np.random.choice(random_values, size=len(df_sampled))

In [92]:
value_counts = df_cv_job[df_cv_job['knowledge_coverage_required'] == 0.25]['isConsistent'].value_counts()

# Stampa i value_counts
print(value_counts)

isConsistent
0    3748
1    1267
Name: count, dtype: int64

In [93]:
value_counts = df_cv_job[df_cv_job['competences_coverage_required'] == 1]['isConsistent'].value_counts()

# Stampa i value_counts
print(value_counts)

isConsistent
1    4289
0    3711
Name: count, dtype: int64

In [94]:
df_cv_job.to_pickle('df_cv_job_PreProc.pkl')

In [95]:
df_cv_job.to_csv('df_cv_job_PreProc.csv', index=False)